@import url(normalize.css);

:root{
  box-sizing: border-box;
  --background-color-01: #444444;
  --background-color-02: #aaaaaa;
  --background-color-03: #ecececb2;
  --text-color-01: #DDDDDD;
  --text-color-02: #000000;
  --text-color-03: #FFFFFF;
  --contrast-color-01: red;
}

.text--highlight{
  font-weight: 500;
  font-size: 1.1rem;
  color: var(--contrast-color-01);
}

@media screen and (min-width: 480px) {

  :root{
    font-size: 20px;
  }  
}